<p id="notice"><%= notice %></p>

<h1>Listing Thofins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thofins.each do |thofin| %>
      <tr>
        <td><%= thofin.name %></td>
        <td><%= thofin.description %></td>
        <td><%= link_to 'Show', thofin, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_thofin_path(thofin), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', thofin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_thofin_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Thofin
<% end %>